.row-elements {
    font-family: Arial, sans-serif;
}
.row-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.chart-container {
    width: 80%;
}

.side-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Allinea gli elementi lungo l'asse orizzontale al centro */
    justify-content: center; /* Centra gli elementi lungo l'asse verticale */
}

.button-container,
.image-container {
    margin-top: 10px;
}